.gallon, .cup{
    display: contents;
}

.over > *{
    opacity: 0.5;
}

.cup > *{
    float: left;
}

.empty{
    display: none;
}

.used > .empty{
    display: block;
}

.used > .full{
    display: none;
}

#water-group{
    display: inline-block;
    width: 600px;
}

.conversion-chart{
    display: inline-block;
    max-width: 500px;
}

#gallon-to-cups{
    display: grid;
}

.gal-subchart{
    display: inline-block;
    padding: 2px 0px 2px 10px;
    max-width: 250px;
    background-color: #cee4ff;
    border-bottom: #1200FF solid 2px;
}
